{% load static %}
{% if request.user.is_authenticated %}
<!DOCTYPE html>
<html lang="en" class="app">

<head>
    <meta charset="utf-8" />
    <title>iMarketBD | Web Application</title>
    <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="{% static 'document/App unminify.css' %}" type="text/css" />
</head>

<body class="">
    <section class="vbox">
        <header class="bg-white header header-md navbar navbar-fixed-top-xs box-shadow">
            <div class="navbar-header aside-md dk">
                <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html"> <i class="fa fa-bars"></i> </a>
                <a href="index-bank.html" class="navbar-brand"> <img src="../images/imagelogo.png" class="m-r-sm" alt="IMarketBD"> <span class="hidden-nav-xs"></span> </a>
            </div>
            <ul class="nav navbar-nav hidden-xs">
                <li class="dropdown">
                    <a href="#nav" data-toggle="class:nav-xs" class="btn btn-icon icon-muted btn-inactive"><i class="fa fa-bars"></i></a>
                    <section class="dropdown-menu aside-lg bg-white on animated fadeInLeft">
                        <div class="row m-l-none m-r-none m-t m-b text-center">
                        </div>
                    </section>
                </li>
            </ul>
            <form class="navbar-form navbar-left input-s-xl m-t m-l-n-xs hidden-xs" role="search">
                <div class="form-group">
                    <div class="input-group"> <span class="input-group-btn"> <button type="submit" class="btn btn-sm bg-white b-white btn-icon"><i class="fa fa-search"></i></button> </span>
                    <input type="text" class="form-control input-sm no-border" placeholder="Search products..."> 
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user user">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="thumb-sm avatar pull-left"> <img src="../images/a3.png" alt="..."> </span> Jons Smith <b class="caret"></b> </a>
                    <ul class="dropdown-menu animated fadeInRight">
                        <li> <a href="#">Profile</a> </li>
                        <li> <span class="arrow top"></span> <a href="#">Settings</a> </li>
                        <li> <a href="#">Help</a> </li>
                        <li class="divider"></li>
                        <li> <a href="#" data-toggle="ajaxModal">Logout</a> </li>
                    </ul>
                </li>
            </ul>
        </header>
        <section>
            <section class="hbox stretch">
                <!-- .aside -->
                <aside class="bg-black aside-md hidden-print hidden-xs" id="nav">
                    <section class="vbox">
                        <section class="w-f scrollable">
                            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2"> 
                                <!-- nav -->
                                <nav class="nav-primary hidden-xs">
                                    <ul class="nav nav-main" data-ride="collapse">
                                        <li class="">
                                            <a href="index-bank.html" class="auto"> <i class="fa fa-laptop"> </i> <span class="font-bold">Dashboard</span> </a>
                                        </li>
                                        <div class="text-muted text-sm hidden-nav-xs padder m-t-sm m-b-sm">Section</div>
                                        <li>
                                            <a href="daily-LC opening & settlement.html" class="auto"> <span class="pull-right text-muted">  </span> <b class="badge bg-danger pull-right"></b> <i class="fa fa-file"> </i> <span class="font-bold">LC Opening & Settlement</span> </a>
                                        </li>
                                        <li>
                                            <a href="importer-information.html" class="auto"> <span class="pull-right text-muted">  </span> <b class="badge bg-danger pull-right"></b> <i class="fa fa-file"> </i> <span class="font-bold">Importer Information</span> </a>
                                        </li>
                                        <div class="text-muted text-sm hidden-nav-xs padder m-t-sm m-b-sm">Extra</div>
                                        <li>
                                            <a href="#" class="auto"> <span class="pull-right text-muted">  </span> <b class="badge bg-danger pull-right"></b> <i class="fa fa-cog"> </i> <span class="font-bold">Settings</span> </a>
                                        </li>
                                        <li>
                                            <a href="#" class="auto"> <span class="pull-right text-muted">  </span> <b class="badge bg-danger pull-right"></b> <i class="fa fa-pencil"> </i> <span class="font-bold">Help</span> </a>
                                        </li>
                                        <li>
                                            <a href="#" class="auto"> <span class="pull-right text-muted">  </span> <b class="badge bg-danger pull-right"></b> <i class="i i-logout"> </i> <span class="font-bold">Logout</span> </a>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- / nav -->
                            </div>
                        </section>
                        <footer class="footer hidden-xs no-padder text-center-nav-xs">
                            <a href="#nav" data-toggle="class:nav-xs" class="btn btn-icon icon-muted btn-inactive m-l-xs m-r-xs"> <i class="i i-circleleft text"></i> <i class="i i-circleright text-active"></i> </a>
                        </footer>
                    </section>
                </aside>
                <!-- /.aside -->
                <section id="content">
                    <section class="hbox stretch">
                        <section>
                            <section class="vbox">
                                <section class="scrollable padder">
                                    <section class="row m-b-md">
                                        <div class="col-sm-6">
                                            <h3 class="m-b-xs text-black">Dashboard</h3> <small>Welcome back, John Smith</small> </div>
                                    </section>
                                    <div class="row dk m-b">
                                        <div class="col-md-12 dker">
                                            <div class="col-md-12 text-center"><h2>Importer Information</h2></div>
                                            <section class="panel b-a"> 
                                                <div class="panel-body">
                                                    <div class= "main-section" style=" width:800px; height: 700px; margin:20px auto 0px;">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <div class="col-md-12" style="margin:30px auto 0px;">
                                                                    <table class="table table-dark">
                                                                        <!--<img class="img-thumbnail" style="width:100px; height:100px; border-radius: 50%;" src="{% static 'images/a1.png' %}" alt="">-->
                                                                        <br>
                                                                        <br>
                                                                        <tr>
                                                                            <th>First Name</th>
                                                                            <td>{{register.first_name}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>Last Name</th>
                                                                            <td>{{register.last_name}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>National ID Number</th>
                                                                            <td>{{register.national_id_number}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>Nationality</th>
                                                                            <td>{{register.nationality}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>Email</th>
                                                                            <td>{{register.email}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>Phone Number</th>
                                                                            <td>{{register.phone_number}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>Organization Name</th>
                                                                            <td>{{register.organizations}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>Role/Position</th>
                                                                            <td>{{register.organizational_role}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>Reference Email</th>
                                                                            <td>{{register.reference_email}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>Details</th>
                                                                            <td>{{register.describtion}}</td>
                                                                        </tr>
                                                                        <td>
                                                                            <a class="btn btn-sm btn-primary" href="{% url 'register_user' %}">Back</a>
                                                                        </td>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <script src="{% static 'js/app.v1.js' %}"></script>
    <script src="{% static 'js/charts/easypiechart/jquery.easy-pie-chart.js' %}"></script>
    <script src="{% static 'js/charts/sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'js/charts/flot/jquery.flot.min.js' %}"></script>
    <script src="{% static 'js/charts/flot/jquery.flot.tooltip.min.js"></script>
    <script src="{% static 'js/charts/flot/jquery.flot.spline.js' %}"></script>
    <script src="{% static 'js/charts/flot/jquery.flot.pie.min.js' %}"></script>
    <script src="{% static 'js/charts/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'js/charts/flot/jquery.flot.grow.js' %}"></script>
    <script src="{% static 'js/charts/flot/demo.js' %}"></script>
    <script src="{% static 'js/calendar/bootstrap_calendar.js' %}"></script>
    <script src="{% static 'js/calendar/demo.js' %}"></script>
    <script src="{% static 'js/sortable/jquery.sortable.js' %}"></script>
    <script src="{% static 'js/app.plugin.js' %}"></script>
</body>
</html>
{% else %}
    <h2 style="text-align: center;">You are Not Authorized User Right Now!!!</h2>
{% endif %}